.toggle-switch {
	position: relative;
	display: inline-block;
	width: 100px;
	height: 40px;
	@media(max-width: 640px){
		height: 25px;
		width: 60px;
	}
  }
  .toggle-switch input[type="checkbox"] {
	display: none;
  }
  .toggle-switch .switch {
	position: absolute;
	cursor: pointer;
	background-image: url('../../../assets/light.png');
	background-size: contain;
	border-radius: 25px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: background-image 0.9s ease;
	box-shadow: 0px 2px 5px 1px grey;
  }
  .toggle-switch .switch::before {
	position: absolute;
	content: "";
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
	background-color: #f7ca33;
	border-radius: 50%;
	transition: transform 0.9s ease;
	@media(max-width: 640px){
		height: 25px;
		width: 25px;
	}
  }
  .toggle-switch input[type="checkbox"]:checked + .switch::before {
	transform: translateX(60px);
	background-color: #bb86fc;
	@media(max-width: 640px){
		transform: translateX(35px);
	}
  }
  .toggle-switch input[type="checkbox"]:checked + .switch {
	background-image: url('../../../assets/night.png');

	box-shadow: 0px 2px 5px 1px rgb(187 134 201);
	background-size: contain;
  }